<html>
  <head>
    <link href="/css/main.css " rel="stylesheet" type="text/css" />
    <script src="js/lib/jquery-1.3.2.min.js"></script>
    <script src="/js/vote.js"></script>
  </head>

  <body>
  <div class="pageContainer">
    <div id="header" align="center"><img src="/img/logo.png"></div>
    {% if stats %}
    <div id="stats" align="center">
    <strong>Today</strong><br />
    <div id="stat1" value="{{ stats.items.0.1 }}"></div>
    <div id="stat2" value="{{ stats.items.1.1 }}"></div>
    <div id="moodstats">
    {% for i in stats.items %}
    <b>{{ i.1 }}%</b> voted for {{ i.0 }} 
    {% endfor %}

    <div id="horizontal_stats_bar">
      <div id="horizontal_stats_bar_left"><span  class="statsbar">{{ stats.items.0.1 }}%</span></div>
      <div id="horizontal_stats_bar_gap"></div>
      <div id="horizontal_stats_bar_right"><span  class="statsbar">{{ stats.items.1.1 }}%</span></div>
    </div>

      <br />
    </div>
    </div>
    <div id="moods" align="center"></div>
    {% else %}
    <div id="moods" align="center"></div>
    
    <br />
    
    {% endif  %}
        
    <a href="{{ url }}">{{ url_linktext }}</a>
  </div>
  </body>
</html>
